**STA 141B FINAL PROJECT**

In [2]:
import glob
import os
import pandas as pd

**Introduction**

**Data exploration**

In [19]:
filenames = glob.glob(os.path.join(os.getcwd(), "/Users/wook/Downloads/STA141B FINAL/allsites/us", "*.txt"))
dataframes = []

for f in filenames:
    dataframes.append(pd.read_csv(f))

dataframes[1]

       1             1             1995         46.5
0      1             2             1995         21.4
1      1             3             1995         20.7
2      1             4             1995         16.6
3      1             5             1995         11.0
4      1             6             1995         21.6
...                                              ...
9259   5             9             2020         34.0
9260   5             10            2020         42.5
9261   5             11            2020         43.7
9262   5             12            2020         42.7
9263   5             13            2020         37.0

[9264 rows x 1 columns]

**Exporting data into SQL**

**Visualization**

**Data Analysis**

**Conclusion**