**STA 141B FINAL PROJECT**

In [1]:
import glob
import os
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy as sqla

**Introduction**

**Data exploration**

In [9]:
filenames = glob.glob(os.path.join(os.getcwd(), "/Users/wook/Downloads/STA141B FINAL/allsites/us", "*.txt"))
dataframes = []

#for f in filenames:
#    dataframes.append(pd.read_csv(f,sep ='\s+'))

df = pd.concat([pd.read_csv(fp,sep ='\s+',header=None).assign(City = os.path.basename(fp).split('.')[0])
   for fp in filenames
])
df=df.rename(columns={0:'Day',1:'Month',2:'Year',3:'Temp'})
df

      Day  Month  Year  Temp      City
0       1      1  1995  33.6  TXWICHFA
1       1      2  1995  32.1  TXWICHFA
2       1      3  1995  34.0  TXWICHFA
3       1      4  1995  27.2  TXWICHFA
4       1      5  1995  29.2  TXWICHFA
...   ...    ...   ...   ...       ...
9260    5      9  2020  52.4  TNCHATTA
9261    5     10  2020  55.0  TNCHATTA
9262    5     11  2020  58.8  TNCHATTA
9263    5     12  2020  55.8  TNCHATTA
9264    5     13  2020  57.9  TNCHATTA

[1427542 rows x 5 columns]

In [10]:
indexNames = df[ df['Temp'] == -99 ].index
df_clean=df.copy()
df_clean.drop(indexNames , inplace=True)
df_clean

      Day  Month  Year  Temp      City
37      2      7  1995  44.7  TXWICHFA
58      2     28  1995  42.9  TXWICHFA
59      3      1  1995  30.7  TXWICHFA
60      3      2  1995  24.4  TXWICHFA
61      3      3  1995  27.8  TXWICHFA
...   ...    ...   ...   ...       ...
9260    5      9  2020  52.4  TNCHATTA
9261    5     10  2020  55.0  TNCHATTA
9262    5     11  2020  58.8  TNCHATTA
9263    5     12  2020  55.8  TNCHATTA
9264    5     13  2020  57.9  TNCHATTA

[1210458 rows x 5 columns]

Appendix

Alabama

Birmingham ( ALBIRMIN.txt )
Huntsville ( ALHUNTSV.txt )
Mobile ( ALMOBILE.txt )
Montgomery ( ALMONTGO.txt )

Alaska

Anchorage ( AKANCHOR.txt )
Fairbanks ( AKFAIRBA.txt )
Juneau ( AKJUNEAU.txt )

Arizona

Flagstaff ( AZFLAGST.txt )
Phoenix ( AZPHOENI.txt )
Tucson ( AZTUCSON.txt )
Yuma ( AZYUMA.txt )

Arkansas

Fort Smith ( ARFTSMIT.txt )
Little Rock ( ARLIROCK.txt )

California

Fresno ( CAFRESNO.txt )
Los Angeles ( CALOSANG.txt )
Sacramento ( CASACRAM.txt )
San Diego ( CASANDIE.txt )
San Francisco ( CASANFRA.txt )

Colorado

Colorado Springs ( COCOSPGS.txt )
Denver ( CODENVER.txt ) 
Grand Junction ( COGRNDJU.txt )
Pueblo ( COPUEBLO.txt )

Connecticut

Bridgeport ( CTBRIDGE.txt )
Hartford Springfield ( CTHARTFO.txt )

Delaware

Wilmington ( DEWILMIN.txt )

District of Columbia

Washington (National)  (MDWASHDC.txt)

Florida

Daytona Beach ( FLDAYTNA.txt )
Jacksonville ( FLJACKSV.txt )
Miami Beach ( FLMIAMIB.txt )
Orlando ( FLORLAND.txt )
Tallahassee ( FLTALLAH.txt )
Tampa St. Petersburg ( FLTAMPA.txt )
West Palm Beach ( FLWPALMB.txt )

Georgia

Atlanta ( GAATLANT.txt )
Columbus ( GACOLMBS.txt )
Macon ( GAMACON.txt )
Savannah ( GASAVANN.txt )

Hawaii

Honolulu ( HIHONOLU.txt )

Idaho

Boise ( IDBOISE.txt )
Pocatello ( IDPOCATE.txt )

Illinois

Chicago ( ILCHICAG.txt )
Peoria ( ILPEORIA.txt )
Rockford ( ILROCKFO.txt )
Springfield ( ILSPRING.txt )

Indiana

Evansville ( INEVANSV.txt )
Fort Wayne ( INFTWAYN.txt )
Indianapolis ( ININDIAN.txt )
South Bend ( INSOBEND.txt )

Iowa

Des Moines ( IADESMOI.txt )
Sioux City ( IASIOCTY.txt )

Kansas

Goodland ( KSGOODLA.txt )
Topeka ( KSTOPEKA.txt )
Wichita ( KSWICHIT.txt )

Kentucky

Lexington ( KYLEXING.txt )
Louisville ( KYLOUISV.txt )
Paducah ( KYPADUCA.txt )

Louisiana

Baton Rouge ( LABATONR.txt )
Lake Charles ( LALAKECH.txt )
New Orleans ( LANEWORL.txt )
Shreveport ( LASHREVE.txt )

Maine

Caribou ( MECARIBO.txt )
Portland ( MEPORTLA.txt )

Maryland

Baltimore ( MDBALTIM.txt )
Washington DC ( MDWASHDC.txt )

Massachusetts

Boston ( MABOSTON.txt )

Michigan

Detroit ( MIDETROI.txt )
Flint ( MIFLINT.txt )
Grand Rapids ( MIGRNDRA.txt )
Lansing ( MILANSIN.txt )
Sault Ste Marie ( MISTEMAR.txt )

Minnesota

Duluth ( MNDULUTH.txt )
Minneapolis St. Paul ( MNMINPLS.txt )

Mississippi

Jackson ( MSJACKSO.txt )
Tupelo ( MSTUPELO.txt )

Missouri

Kansas City ( MOKANCTY.txt )
Springfield ( MOSPRING.txt )
St Louis ( MOSTLOUI.txt )

Montana

Billings ( MTBILLIN.txt )
Great Falls ( MTGRFALL.txt )
Helena ( MTHELENA.txt )

Nebraska

Lincoln ( NELINCOL.txt )
North Platte ( NENPLATT.txt )
Omaha ( NEOMAHA.txt )

Nevada

Reno ( NVRENO.txt )
Las Vegas ( NVLASVEG.txt )

New Hampshire

Concord ( NHCONCOR.txt )

New Jersey

Atlantic City ( NJATLCTY.txt )
Newark ( NJNEWARK.txt )

New Mexico

Albuquerque ( NMALBUQU.txt )

New York

Albany ( NYALBANY.txt )
Buffalo ( NYBUFFAL.txt )
New York City ( NYNEWYOR.txt )
Rochester ( NYROCHES.txt )
Syracuse ( NYSYRACU.txt )

North Carolina

Asheville ( NCASHEVI.txt )
Charlotte ( NCCHARLO.txt )
Greensboro ( NCGRNSBO.txt )
Raleigh Durham ( NCRALEIG.txt )

North Dakota

Bismarck ( NDBISMAR.txt )
Fargo ( NDFARGO.txt )

Ohio

Akron Canton ( OHAKRON.txt )
Cincinnati ( OHCINCIN.txt )
Cleveland ( OHCLEVEL.txt )
Columbus ( OHCOLMBS.txt )
Dayton ( OHDAYTON.txt )
Toledo ( OHTOLEDO.txt )
Youngstown ( OHYOUNGS.txt )

Oklahoma

Oklahoma City ( OKOKLCTY.txt )
Tulsa ( OKTULSA.txt )

Oregon

Eugene ( OREUGENE.txt )
Medford ( ORMEDFOR.txt )
Portland ( ORPORTLA.txt )
Salem ( ORSALEM.txt )

Pennsylvania

Allentown ( PAALLENT.txt )
Erie ( PAERIE.txt )
Harrisburg ( PAHARRIS.txt )
Philadelphia ( PAPHILAD.txt )
Pittsburgh ( PAPITTSB.txt )
Wilkes Barre ( PAWILKES.txt )

Rhode Island

Rhode Island ( RIPROVID.txt )

South Carolina

Charleston ( SCCHARLE.txt )
Columbia ( SCCOLMBA.txt )

South Dakota

Rapid City ( SDRAPCTY.txt )
Sioux Falls ( SDSIOFAL.txt )

Tennessee

Chattanooga ( TNCHATTA.txt )
Knoxville ( TNKNOXVI.txt )
Memphis ( TNMEMPHI.txt )
Nashville ( TNNASHVI.txt )

Texas

Abilene ( TXABILEN.txt )
Amarillo ( TXAMARIL.txt )
Austin ( TXAUSTIN.txt )
Brownsville ( TXBROWNS.txt )
Corpus Christi ( TXCORPUS.txt )
Dallas Ft Worth ( TXDALLAS.txt )
El Paso ( TXELPASO.txt )
Houston ( TXHOUSTO.txt )
Lubbock ( TXLUBBOC.txt )
Midland Odessa ( TXMIDLAN.txt )
San Angelo ( TXSANANG.txt )
San Antonio ( TXSANANT.txt )
Waco ( TXWACO.txt )
Wichita Falls ( TXWICHFA.txt )

Utah

Salt Lake City ( UTSALTLK.txt )

Vermont

Burlington ( VTBURLIN.txt )

Virginia

Norfolk ( VANORFOL.txt )
Richmond ( VARICHMO.txt )
Roanoke ( VAROANOK.txt )

Washington

Seattle ( WASEATTL.txt )
Spokane ( WASPOKAN.txt )
Yakima ( WAYAKIMA.txt )

West Virginia

Charleston ( WVCHARLE.txt )
Elkins ( WVELKINS.txt )

Wisconsin

Green Bay ( WIGREBAY.txt )
Madison ( WIMADISO.txt )
Milwaukee ( WIMILWAU.txt )

Wyoming

Casper ( WYCASPER.txt )
Cheyenne ( WYCHEYEN.txt )

Additional Territories

San Juan Puerto Rico( PRSANJUA.txt )

**Exporting data into SQL**

In [11]:
sqlite_file = 'ustemp.sqlite'
table_name = 'state'

df_conn = sqla.create_engine('sqlite:///' + sqlite_file)
connection = df_conn.raw_connection()
cursor = connection.cursor()
command = "DROP TABLE IF EXISTS {};".format(table_name)
cursor.execute(command)
connection.commit()
cursor.close()


df_clean.to_sql('state', df_conn, if_exists='replace')

pd.read_sql_query("select count(*) from "+ table_name,df_conn)

   count(*)
0   1210458

**Visualization**

**Data Analysis**

**Conclusion**